from logger import *

## Connection settings for Tor.
tor_port = 9050
tor_host = "localhost"

## Connection settings for the Tor control port.
control_port = 9051
control_password = ""

## TorBEL test settings.
# When should we stop testing routers that have fallen out of the
# global consensus?  Timeout value in seconds.
stale_router_timeout = 60 * 60 * 4

# Complete list of ports to test exiting from.
# Must be a proper Python list of unsigned 16-bit integers.
test_port_list = [21, 23, 25, 43, 53, 80, 88, 110, 115, 123, 143, 443,
                  706, 993, 995, 5190, 6667, 8080, 8443]

# What IP should TorBEL be binding on?
# If test_bind_ip is None or empty, we will use
# Tor's guess at our external IP address.
# The IP addresses used must be formatted as a string; e.g., "192.168.1.150".
test_bind_ip = ""
test_host = ""

# For CSV exports, specify the output filename and whether or not
# it should be gzipped.  If csv_gzip is True, torbel will automatically
# append ".gz" to csv_export_file.
csv_export_file = "bel_export.csv"
csv_gzip = False

# Should the TorBEL controller run as a daemon?
daemonize = False

# User and group to change to when dropping root privileges.
user  = "nobody"
group = "nogroup"

## Logging configuration.

# Lowest level for which log messages are emitted.
# Valid values are, in order of increasing severity:
# VERBOSE2, VERBOSE1, DEBUG, INFO, WARNING, ERROR, CRITICIAL
log_level = DEBUG

# Log output methods.  By default, we output to stdout only if we're not
# daemonized, and to syslog only if we are daemonized.
# File output is disabled by default.  It is possible to log to any combination
# of these outputs, if desired.
# Possible values:
#  - log_stdout: True or False
#  - log_syslog: True or False
#  - log_file: A string specifying the filename, or None or an empty string if
#              no file logging is desired.
# Since this is a Python module, any Python expression that evaluations to
# the above possible values is valid.  For example, "log_stdout = not daemonize"
# configures logging to standard output based on the above value of "daemonize".
# Thus you can change the value of "daemonize" and have the logging configuration
# change appropriately.
log_stdout = not daemonize
log_syslog = daemonize
log_file = ""

# If torctl_debug is True, the TorCtl library will be instructed
# to log all control port commands and responses to TorCtlDebug-XXX,
# where XXX is the Unix timestamp when the log was started.
# This is not recommended for production use as these logs can be very large.
torctl_debug = False
